html {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background: radial-gradient(#DC143C, #302222);
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: titillium;
}
@font-face {
    font-family: titillium;
    src: url(TitilliumWeb-Bold.ttf);
}

input[type=text] {
    border: 2px solid black;
    border-radius: 12px;
    padding: 2%;
    width: 45%;
    font-family: titillium;
    background-color: #302222;
    color: white;
}

button {
    border: 1px solid black;
    border-radius: 12px;
    padding: 5px;
    font-family: titillium;
    color: white;
    background-color: #302222;
}